.nft-box {
  box-sizing: content-box;
  position: relative;
  display: flex;
  button {
    width: 100%;
  }
  .nft-img {
    margin-top: 26px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
}